@import "tailwindcss";
@import "swiper/swiper-bundle.css";

/* Swiper navigasyon butonları için özel stil */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Buton rengi */
  background-color: rgba(0, 0, 0, 0.5); /* Arkaplan rengi */
  padding: 20px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px; /* Buton ikon boyutu */
}
